html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #e50914;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus {
    outline: 0;
}

:root {
    --primary-color: #FF5722;
    --gray-color: #ccc;
    --white-color: #fff;
    --background-color: #171717;
    --tertiary-color: #101010;
    --border-color: #3a3a3a;
}

main {
    min-height: 100vh;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (max-width:1024px){
	#exoNativeWidget3572730.exo-native-widget .exo-native-widget-outer-container .exo-native-widget-item-container{
		flex-basis:calc(100%/4) !important;
	}
}

@media (max-width:768px){
	#exoNativeWidget3572730.exo-native-widget .exo-native-widget-outer-container .exo-native-widget-item-container{
		flex-basis:calc(100%/3) !important;
	}
}
